body { background: #d37699; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 34px; display: flex; }
.block-user-0 { color: #837f59; font-size: 20px; margin-bottom: 5px; }
.block-user-1 { color: #dce305; font-size: 18px; margin-bottom: 5px; }
.block-validator-2 { color: #e23d43; font-size: 18px; margin-bottom: 5px; }
.block-sms-3 { color: #5eb761; font-size: 19px; margin-bottom: 5px; }
.block-notify-4 { color: #80f6b7; font-size: 20px; margin-bottom: 5px; }
.block-search-5 { color: #507278; font-size: 12px; margin-bottom: 5px; }
.block-cache-6 { color: #d54c51; font-size: 18px; margin-bottom: 5px; }
.block-search-7 { color: #635c2; font-size: 20px; margin-bottom: 5px; }
.block-metrics-8 { color: #28d57c; font-size: 19px; margin-bottom: 5px; }
.block-user-9 { color: #9a1897; font-size: 16px; margin-bottom: 5px; }